/* is there a more efficient way of writing layout using id names? */
body {
  font-family: "Orbitron", sans-serif;
}

.button:hover {
  cursor: pointer;
}

#display {
  grid-area: display;
  text-align: right;
  background-color: #777777;
  color: #ffffff;
}
#clear {
  grid-area: clear;
}
#divide {
  grid-area: divide;
}
#seven {
  grid-area: seven;
}
#eight {
  grid-area: eight;
}
#nine {
  grid-area: nine;
}
#multiply {
  grid-area: multiply;
}
#four {
  grid-area: four;
}
#five {
  grid-area: five;
}
#six {
  grid-area: six;
}
#subtract {
  grid-area: subtract;
}
#one {
  grid-area: one;
}
#two {
  grid-area: two;
}
#three {
  grid-area: three;
}
#add {
  grid-area: add;
}
#zero {
  grid-area: zero;
}
#decimal {
  grid-area: decimal;
}
#equals {
  grid-area: equals;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "display display display display"
    "clear clear clear divide"
    "seven eight nine multiply"
    "four five six subtract"
    "one two three add"
    "zero zero decimal equals";
  grid-gap: 10px;
  background-color: #cccccc;
  padding: 10px;
  text-align: center;
  width: 300px;
  height: 400px;
  align-items: center;
}
